<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xueluoanping.arknights">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:name=".SimpleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/npc_007_closure"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/npc_007_closure"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <!--        安卓12+要求包含   android:exported="true"-->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar.AutumnDuck"
            android:alwaysRetainTaskState="true"
            android:usesCleartextTraffic="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pages.LoginActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar.AutumnDuck" />
        <activity
            android:name=".pages.WebActivity2"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar.AutumnDuck" />
        <activity
            android:name=".pages.WebActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar.AutumnDuck" />
        <activity
            android:name=".pages.SettingActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar.AutumnDuck" />
        <activity
            android:name=".pages.AccountMangerActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar.AutumnDuck" />
        <activity
            android:name=".pages.GameSettingsActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar.AutumnDuck" />
        <activity
            android:name=".pages.CheckActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar.AutumnDuck" />
        <activity
            android:name=".pages.GalleyActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar.AutumnDuck" />
        <activity
            android:name=".pages.InventoryActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar.AutumnDuck" />
        <activity
            android:name=".pages.AboutActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar.AutumnDuck" />
        <receiver
            android:name=".services.MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <service
            android:name=".services.SimpleService"
            android:exported="true"
            />
    </application>

</manifest>